[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/conceal"]
	path = .vim/bundle/conceal
	url = https://github.com/jebberjeb/vim-clojure-conceal.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".vim/bundle/vim-bookmark-mz"]
	path = .vim/bundle/vim-bookmark-mz
	url = https://github.com/jebberjeb/vim-bookmarks-mz.git
[submodule ".vim/bundle/paredit"]
	path = .vim/bundle/paredit
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = https://github.com/jakar/vim-json.git
[submodule "vimshell.vim"]
	path = vimshell.vim
	url = https://github.com/Shougo/vimshell.vim.git
[submodule ".vim/bundle/vimshell"]
	path = .vim/bundle/vimshell
	url = https://github.com/Shougo/vimshell.vim.git
[submodule ".vim/bundle/vimproc"]
	path = .vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
